<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myapp.mobile" version="2.25" xmlns="http://www.w3.org/ns/widgets">
  <name>ME</name>
  <description>The Exercise App</description>
  <author email="abhaysaxena.in@gmail.com" href="https://abhay-s.github.io">Abhay Saxena</author>
  <preference name="phonegap-version" value="cli-6.3.0" />
  <preference name="permissions" value="none" />
  <preference name="orientation" value="portrait" />
  <preference name="target-device" value="universal" />
  <preference name="fullscreen" value="true" />
  <gap:plugin name="de.appplant.cordova.plugin.background-mode" version="0.6.3" />
  <icon src="icon.png" />
</widget>
